{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<!--Header-part-->
  <div id="header">
    <h1><a href="{% url 'homeAdmin' %}" style="align: center;"></a></h1>
  </div>

  <!--close-Header-part-->
  <!--top-Header-menu-->
  <div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
      <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{request.user}}</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="divider"></li>
          <li><a href="{% url 'register' %}"><i class="icon-key"></i> Register</a></li>
        </ul>
      </li>
      <li class=""><a title="" href="{% url 'logout' %}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
  </div>
  <!--close-top-Header-menu-->
  <!--start-top-serch-->
  <!--close-top-serch-->
  <!--sidebar-menu-->
  <div id="sidebar"><a href="{% url 'homeAdmin' %}" class="visible-phone" style="color: red;"><i class="icon icon-home"></i>Sandhani</a>
    <ul>
      <li class="active"><a href="{% url 'homeAdmin' %}"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Tables</span></a>
          <ul>
            <li><a href="{% url 'donorTable' %}"><span>Motivated Donor Table</span></a></li>
          <li><a href="{% url 'reqTable' %}"><span>Requester Table</span></a></li>
            <li><a href="{% url 'triageTable' %}"><span>Triage Table</span></a></li>
            <li><a href="{% url 'donReqTable' %}"><span>Donor-requester match Table</span></a></li>
          </ul>
        </li>
      <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span></a>
        <ul>
          <li><a href="{% url 'triVol' %}">Triage Form</a></li>
          <li><a href="{% url 'reqVol' %}">Requisition Form (V)</a></li>
          <li><a href="{% url 'donReqForm' %}">Donor Requester Form</a></li>
          <li><a href="{% url 'donVol' %}">Donor Form (V)</a></li>
          <li><a href="{% url 'motDonForm' %}">Motivated Donor Form (V)</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Extra</span></a>
        <ul>

          <li><a href="{% url 'calendar' %}">Calendar</a></li>

        </ul>
      </li>
      <li class="content"> <span>Disk Space Usage</span>
        <div class="progress progress-mini active progress-striped">
          <div style="width: 47%;" class="bar"></div>
        </div>
        <span class="percent">47%</span>
      </li>
    </ul>
  </div>
<!--sidebar-menu-->

{% block content %}

{% endblock %}

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2020 &copy; Shondhani Admin. Brought to you by <a href="/">Adiat Hasan Ratul</a> </div>
</div>

<!--end-Footer-part-->

<script src="{% static 'js/excanvas.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.custom.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'js/jquery.peity.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/matrix.js' %}"></script>
<script src="{% static 'js/matrix.dashboard.js' %}"></script>
<script src="{% static 'js/jquery.gritter.min.js' %}"></script>
<!--<script src="{% static 'js/matrix.interface.js' %}"></script>-->
<script src="{% static 'js/matrix.chat.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/matrix.form_validation.js' %}"></script>
<script src="{% static 'js/jquery.wizard.js' %}"></script>
<script src="{% static 'js/jquery.uniform.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/matrix.popover.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/matrix.tables.js' %}"></script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
