{% extends 'admin_2/base2.html' %}
{% load static %}
{% block content2 %}
		<div class="main">
			<div class="content">
				<div class="container_12">
					<div class="grid_8">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<img src="{% static 'images/page1_img1.jpg' %}" alt="">
									<div class="flex-caption">
										<p>Hope</p>
									</div>
								</li>
								<li>
									<img src="{% static 'images/page1_img2.jpg' %}" alt="">
									<div class="flex-caption c2">
										<p>Save</p>
									</div>
								</li>
								<li>
									<img src="{% static 'images/page1_img3.jpg' %}" alt="">
									<div class="flex-caption">
										<p>Help</p>
									</div>
								</li>
							</ul>
						</div>
						<span id="responsiveFlag"></span>
					</div>
					<div class="grid_4">
						<a href="{% url 'donPub' %}" class="donate">Donate</a>
						<div class="text1">We can change the world</div>
						<p>Make Bangladesh a better place</p>
					</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
