{% include 'admin_2/base.html' %}
{% load static %}
{% block content %}


<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'homeAdmin' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="#"> <i class="icon-tint"></i> <span class="label label-important"></span>  A+ donor<strong>({{a_pos}})</strong></a> </li>
        <li class="bg_lg span3"> <a href="#"> <i class="icon-tint"></i> A- donor<strong>({{a_neg}})</strong> </a> </li>
        <li class="bg_ly"> <a href="#"> <i class="icon-tint"></i><span class="label label-success"></span>  B+ donor<strong>({{b_pos}})</strong> </a> </li>
        <li class="bg_lo"> <a href="#"><i class="icon-tint"></i>  B- donor<strong>({{b_neg}})</strong></a> </li>
        <li class="bg_ls"> <a href="#"> <i class="icon-tint"></i> O+ donor<strong>({{o_pos}})</strong></a> </li>
        <li class="bg_lo span3"> <a href="form-common.html"> <i class="icon-tint"></i> O- donor<strong>({{o_neg}})</strong></a> </li>
        <li class="bg_ls"> <a href="#"> <i class="icon-tint"></i> AB+ donor<strong>({{ab_pos}})</strong></a> </li>
        <li class="bg_lb"> <a href="#"> <i class="icon-tint"></i>AB- donor<strong>({{ab_neg}})</strong></a> </li>
        <li class="bg_lr"> <a href="#"> <i class="icon-th-list"></i> All donor<strong>({{allDonor}})</strong></a> </li>
        <li class="bg_lg"> <a href="#"> <i class="icon-tint"></i> Available donor<strong>(3)</strong></a> </li>
      </ul>
    </div>
<!--End-Action boxes-->    

<!--Chart-box-->    
    <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
          <h5>Site Analytics</h5>
        </div>
        <div class="widget-content" >
          <div class="row-fluid">
            <div class="span9">
              <div class="chart"></div>
            </div>
            <div class="span3">
              <ul class="site-stats">
                <li class="bg_lh"><i class="icon-user"></i> <strong>2540</strong> <small>Total Users</small></li>
                <li class="bg_lh"><i class="icon-plus"></i> <strong>120</strong> <small>New Users </small></li>
                <li class="bg_lh"><i class="icon-shopping-cart"></i> <strong>656</strong> <small>Total Shop</small></li>
                <li class="bg_lh"><i class="icon-tag"></i> <strong>9540</strong> <small>Total Orders</small></li>
                <li class="bg_lh"><i class="icon-repeat"></i> <strong>10</strong> <small>Pending Orders</small></li>
                <li class="bg_lh"><i class="icon-globe"></i> <strong>8540</strong> <small>Online Orders</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End-Chart-box--> 
    <hr/>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
            <h5>Notice Board</h5>
          </div>
          <div class="widget-content nopadding collapse in" id="collapseG2">
            <ul class="recent-posts">
              <li>
                <div class="article-post">
                  {% for notice in all_notice %}
                  <p><a href="#">{{notice}}</a> </p>
                  {% endfor %}
                </div>
              </li>
              <li>
                <button class="btn btn-warning btn-mini">View All</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end-main-container-part-->


{% endblock %}